{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="post">
    <h3><a href="{{ url_for('post', post_id=post.id, subdeaddit_name=post.subdeaddit.name, models=request.args.getlist('models')) }}">{{ post.title }}</a></h3>
    <p class="post-info">Posted by <a href="{{ url_for('user_profile', username=post.user, models=request.args.getlist('models')) }}">{{ post.user }}</a> in <a href="{{ url_for('subdeaddit', subdeaddit_name=post.subdeaddit.name) }}">{{ post.subdeaddit.name }}</a> on {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S' )}} <small>(Model: {{ post.model }})</small>
    </p>
    {{ post.content[:200]|replace("<br>", "")|replace("<p>", "")|replace("</p>", "") }}... <a href="{{ url_for('post', post_id=post.id, subdeaddit_name=post.subdeaddit.name, models=request.args.getlist('models')) }}">[more]</a>
    <p style="margin-top: 10px;">
    <i class="bi bi-chat-left-text"></i> <a href="{{ url_for('post', post_id=post.id, subdeaddit_name=post.subdeaddit.name, models=request.args.getlist('models')) }}">{{ comment_counts[post.id] }} comments</a>
    </p>
</div>
{% endfor %}
{% if has_more %}
<div class="load-more">
    <a href="{{ url_for(request.endpoint, page=page+1, models=request.args.getlist('models'), **request.view_args) }}">Show More</a>
</div>
{% endif %}
{% endblock %}
