{% extends 'base.html' %}

{% block content %}
    <h2>Top Posts in {{ subdeaddit_name }}</h2>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{{ url_for('post', post_id=post.id, subdeaddit_name=subdeaddit_name) }}">{{ post.title }}</a></h3>
            <p class="post-info">Posted by {{ post.user }} in <a href="{{ url_for('subdeaddit', subdeaddit_name=subdeaddit_name) }}">{{ subdeaddit_name }}</a> on {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>{{ post.content[:100]|replace("<br>", "") }}...</p>
            <p>
                ⬆{{ post.upvote_count }}
                | <a href="{{ url_for('post', post_id=post.id, subdeaddit_name=subdeaddit_name) }}">{{ comment_counts[post.id] }} comments</a>
            </p>
        </div>
    {% endfor %}
    {% if has_more %}
        <div class="load-more">
            <a href="{{ url_for(request.endpoint, page=page+1, **request.view_args) }}">Show More</a>
        </div>
    {% endif %}
{% endblock %}